# ================================
#   Snippets for college classes

snippet 135 "File preamble for CSCI-135" 
/*
Author: Soren Soroush
Course: CSCI-135
Instructor: Tong Yi
Assignment: $1

$2

*/

$0
endsnippet


snippet main "Basic boilerplate" 
#include<iostream>
using namespace std;

int main() {
	$0

    return 0;
}
endsnippet


snippet if "If statement" 
if ($1) {
	$2
} $0
endsnippet
