snippet md "Markdown block (for percent-formatted notebooks)" 
# %% [md]
endsnippet


snippet co "Code block (for percent-formatted notebooks)" 
# %%
endsnippet


snippet com "Comment (block)" 
"""
$1
"""
endsnippet


snippet doc "Docstring" 
"""
$1

Parameters:
	$2

Returns:
	$3
"""
endsnippet


snippet main "Main function" 
if __name__ == "__main__":
	print(end='')
endsnippet
